{% extends '@CeradTourn/layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
  <link rel="stylesheet" href="{{ asset('bundles/ceradtourn/css/forms.css') }}" media="all" />
{% endblock %}
  
{% block content %}
<h3>Create/Edit AYSO Volunteer Person</h3>
<form 
    id     = "zayso_person_edit_form"
    class  = "zayso_person_edit_form zayso_form1" 
    action = "{{ path('cerad_tourn_account_person_edit') }}" 
    method = "post" 
    {{ form_enctype(form) }}
 >
    <fieldset><legend><span>AYSO Information</span></legend>
        {{ form_row(form.volunteerAYSO.identifier) }}
        {{ form_row(form.volunteerAYSO.league)     }}
        {{ form_row(form.certRefereeAYSO.badgex)   }}
    </fieldset>
    <fieldset><legend><span>Person Information</span></legend>
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName)  }}
        {{ form_row(form.nickName)  }}
        {{ form_row(form.email)     }}
        {{ form_row(form.phone)     }}
    </fieldset>
    <fieldset>
        <div class="zayso_form_controls">
            <span></span>
            <input type="submit" name="personPersonAdd" value="Create/Edit" />
        </div>
    </fieldset>
<div style="display: none;">{{ form_rest(form) }}</div>
</form>
<p>
    In order to sign up to referee games we will need your basic eAYSO information.
</p>
{# include('@CeradTourn/schedule/referee/search.html.twig') #}
{% endblock %}
