{% if loginForm is defined %}
{% set form = loginForm %}
<form 
    id     = "cerad_account_signin_form"
    class  = "cerad_account_signin_form cerad_common_form1" 
    action = "{{ path('cerad_account_login_check') }}" 
    method = "post" 
    {{ form_enctype(form) }}
 >
    <fieldset><legend><span>Account Sign In</span></legend>
        {{ form_row(form.username,{ 'label': 'User Name or Email'}) }}
        {{ form_row(form.password,{ 'label': 'Password'          }) }}
    </fieldset>
    <fieldset>
        {% if form.vars.data.error %}
            <div style="color:red;">{{ form.vars.data.error }}</div>
        {% endif %}
        <div class="cerad_common_form_controls controls">
            <span><a href="{{ path('cerad_account_login') }}">Forgot Password or User Name or Just Need Help?</a></span>
            <input type="submit" name="accountLogin" value="Log In" />
        </div>
    </fieldset>
<div style="display: none;">{{ form_rest(form) }}</div>
</form>
{% endif %}
